<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h4>вы зашли как:</h4>
<div sec:authentication="name"></div>

<h1>Статья</h1>
<div th:each="el : ${post}">
  <h3 th:text="${el.title}"/>

  <h4>автор статьи:</h4>
  <h4 th:text="${el.userName}"/>

  <p th:text="${el.fullText}"/>

  <p th:if="${el.userName.equals(Username)}"><a th:href="'/blog' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a></p>
  <p th:if="${el.userName.equals(Username)}"><a th:href="'/blog' + ${el.id} + '/remove'" class="btn btn-warning">Удалить</a></p>
  <p sec:authorize="hasRole('ADMIN')"><a th:href="'/blog' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a></p>
  <p sec:authorize="hasRole('ADMIN')"><a th:href="'/blog' + ${el.id} + '/remove'" class="btn btn-warning">Удалить</a></p>

</div>

</body>
</html>